/*css Style for the index file*/
h3 {
    border: solid
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 500px 500px;
    grid-gap: 10px;
    font-size: 2rem;
    margin-top: 10px;
}

.box1 {
    background-image: url("https://i.pinimg.com/originals/e4/26/70/e426702edf874b181aced1e2fa5c6cde.gif");
    background-size: 600px;
    border: solid;
    border-color: #f76c6c;
    grid-column: 2 / 4;
    grid-row: 1; 
}

.box2 {
    background-image: url("https://i.pinimg.com/originals/78/4d/46/784d4668c95a49084bf6281be96ede12.gif");
    border: solid;
    border-color: #f76c6c;
    grid-column: 1;
    grid-row: 1 / 3;
}

.box3 {
    background-image: url("https://miro.medium.com/max/700/1*dQzFEaAHwxouaImAuUd3EQ.gif");
    background-size: 685px;
    border: solid;
    border-color: #f76c6c;
    grid-column: 2 / 4;
    grid-row: 2; 
}
